.bg-dark{
  background-color: #424242;
  padding: 74px 0;
  height: 300px;
  
}

.img{
  width: 117px;
  height: 117px;
}

.input-group {
  & > div:first-child{
    margin-bottom: 8px;
  }
  input{
    display: block;
    background-color: rgba(255,255,255,0.18);
    border: 2px solid $primary;
    border-radius: 10px;
    padding: 0.5rem;
    color: #fff;
    &::placeholder{
      color: #fff;
    }
  }
  label{
    display: block;
    color: $primary;
    margin-bottom: 7px;
  }
}

p{
  visibility: hidden;  //隱藏
  color: $mediumObese;
  margin-bottom: 0;
  text-align: right;
  font-size: 10.4px;
  padding-top: 8px;
}

.visible{
  visibility: visible;  //可見的
}

.see-result{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: $primary;
  border: 1px solid transparent;
  font-size: 24px;
  color: #424242;
  &:hover{
    box-shadow: 0 1px 6px 3px rgba(255,196,50,0.64);
  }
  &:active{
    background-color: #DEA821;
  }
}

#show-result {
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3{
    font-size: 36px;
    white-space: nowrap;  //不換行
  }
}

.result-num{
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::after{
    position: absolute;
    content: 'BMI';
    font-size: 14px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.result-msg{
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translateY(-50%);
  font-size: 28px;
}

.reset-btn{
  display: block;
  border: 3px solid $dark;
  border-radius: 50%;

  padding: 4px;
  color: $dark;
  background-color: $white;

  position: absolute;
  right: -5px;
  bottom: 0;
}

//----------------------------------------------------------------------
//設定不同的 "看結果"的樣式
.result{
  &-ideal{
    border: 6px solid $ideal;
    color: $ideal;
    margin-right: -36px;
    a{
      background-color: $ideal;
    }
  }

  &-thin{
    border: 6px solid $thin;
    color: $thin;
    margin-right: -36px;
    a{
      background-color: $thin;
    }
  }

  &-heavy{
    border: 6px solid $heavy;
    color: $heavy;
    margin-right: -36px;
    a{
      background-color: $heavy;
    }
  }

  &-slightlyObese{
    border: 6px solid $slightlyObese;
    color: $slightlyObese;
    margin-right: -36px;
    a{
      background-color: $slightlyObese;
    }
  }

  &-ideal{
    border: 6px solid $ideal;
    color: $ideal;
    margin-right: -36px;
    a{
      background-color: $ideal;
    }
  }

  &-mediumObese{
    border: 6px solid $mediumObese;
    color: $mediumObese;
    margin-right: -36px;
    a{
      background-color: $mediumObese;
    }
  }

  &-severeObese{
    border: 6px solid $severeObese;
    color: $severeObese;
    margin-right: -36px;
    a{
      background-color: $severeObese;
    }
  }
}

//-----------------------------------------------------第二塊
.bg-light{
  padding: 48px 0 74px 0;
}

.list{
  height: 300px;
  overflow: auto;
  li{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $white;
    padding: 21px 0 21px 0;
    margin-bottom: 16px;
    white-space: nowrap; //文字不換行
  }
  
}

.list {
  .none {
    background-color: $light;
    justify-content: center;
  }
}

// 每個li後面清除按鈕的顏色
.ideal{
  border-left: 5px solid $ideal;
  a:hover{
    color: $ideal;
  }
}

.thin{
  border-left: 5px solid $thin;
  a:hover{
    color: $thin;
  }
}

.heavy{
  border-left: 5px solid $heavy;
  a:hover{
    color: $heavy;
  }
}

.slightlyObese{
  border-left: 5px solid $slightlyObese;
  a:hover{
    color: $slightlyObese;
  }
}

.mediumObese{
  border-left: 5px solid $mediumObese;
  a:hover{
    color: $mediumObese;
  }
}

.severeObese{
  border-left: 5px solid $severeObese;
  a:hover{
    color: $severeObese;
  }
}

// li 裡面的刪除鈕 格式寫在js裡
.delete-btn{
  display: block;
  font-size: $h5-font-size;  //20px
  color: $dark;

  &:hover{
    color: $warning;
    translate: all .3s ease-in-out;
  }
}

// 清除歷史資料的垃圾桶
.clear-all-btn{
  margin: 0 auto;
  border-radius: 14px;
  border: 0 solid #000;
  color: $white;
  padding: 8px 16px;
  color: $white;
  background-color: rgba(77,77,77,0.2);
  .delete-all-text{
    font-size: 14px;
    color: $white;
  }
  &:hover{
    background-color: #212121cc;
    color: #efefef;
    cursor: pointer;
  }
}

//----------------------------------------------footer
.logoImg{
  display: block;

  img{
    color: #000;
    width: 55px;
    height: 55px;
    margin: 0 auto;
  }
}



